.header {
  border: 1px;
  border-bottom: solid;
  border-color: rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
  max-width: 880px;
  width: calc(100% - 40px);
  position: relatvie;
  margin: 45px auto 0 auto;
}

.header__logo {
  height: 33px;
  width: 173px;
}

@media screen and (max-width: 770px) {
  .header {
    max-width: 590px;
  }
}

@media screen and (max-width: 490px) {
  .header {
    margin: 28px 0 0 0;
    padding-left: 27px;
    padding-bottom: 32px;
    max-width: 354px;
    width: 100%;
  }

  .header__logo {
    height: 24px;
    width: 126px;
  }
}
