.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
}

.profile__title {
  font-size: 42px;
  line-height: 1.143;
  font-weight: 500;
  grid-area: title;
  margin: 0;
}

.profile__edit-button {
  background: url(../images/edit-button.svg) transparent center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
}

.profile__edit-button:hover {
  background: url(../images/edit\ button-active.svg) transparent center
    no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
}

.profile__description {
  font-family: "inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  grid-area: description;
  margin: 0;
}

.profile__add-button {
  background: url(../images/Add-Button.svg) transparent center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
}

.profile__add-button:hover {
  background: url(../images/add\ button-active.svg) transparent center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
}
