.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
  display: block;
}

.profile__image-overlay {
  position: absolute;
  opacity: 0;
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.25s;
}

.profile__image-edit-icon {
  width: 26px;
  height: 26px;
}

.profile__image-overlay:hover {
  opacity: 1;
}

.profile__image:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
}

.profile__title {
  font-size: 42px;
  line-height: 1.143;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background: url(../images/edit-button.svg) transparent center no-repeat;
  height: 24px;
  width: 24px;
  border: 1px solid #ffffff;
  grid-area: button;
  margin-left: 17px;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-button {
  background: url(../images/Add-Button.svg) transparent center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 490px) {
  .profile {
    flex-direction: column;
    padding-top: 38px;
  }

  .profile__image {
    margin-right: 0px;
  }

  .profile__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
  }

  .profile__title {
    font-size: 22px;
    line-height: 1.21;
    margin-top: 26px;
    margin-bottom: 14px;
  }

  .profile__edit-button {
    margin-left: 10px;
    height: 18px;
    width: 18px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 1.21;
    margin-bottom: 36px;
  }

  .profile__add-button {
    background: url(../images/Add-Button-mobile.svg) transparent center
      no-repeat;
    margin: 0;
    width: 282px;
  }
}
